body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url('./space.jpg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    padding: 1em;
    margin: 0 auto;
    width: 127px;
    border: 1px solid black;       
    box-shadow: 7px 4px 36px -4px rgba(0,0,0,0.9);
}

h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

input, label {
    display: block;
}

hr {
    width: 50%;
}

.text-center {
    text-align: center;
}

.highlight-yellow {
    background-color: black;
}